*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /width: auto;
    /height: auto;
    /outline: 1px solid red;
    font-family: 'Chewy', cursive;
}
body
{
    position: relative;
    background-color: cornsilk;
    /text-align: center;
    width: 100%;
    height: 100%;
}
.oculto
{
    display: none;
}
.invisible
{
    visibility: hidden;
}
#imagen
{
    /position: absolute;    
}

#cabecera img
{
    /margin: 20px;
    /background-color: white;
    //width: 60px;
    //height: 40px;
}
#secImagen
{
    margin: 10px;
    /background-color: white;
    /position: relative;
    /min-height: 90px;
}
#secImagen img
{
    /max-width: 120px;
    /position: absolute;
    /top: 10%;
    /left: 30%;
    /bottom: 0;
    //width: 100%;
}
#secProgreso
{
    /margin: 10px;
}
.progress-bar
{
    background-color: #7a7a7a;
}
#secPreguntas
{
    /margin-bottom: 1px;
    /background-color: white;
    /z-index: 10;
}
#contenedorPreguntas
{
    /padding-bottom: 1px;
}
#opcion1, #opcion2, #opcion3
{
    /margin: 20px;
    font-size: 20px;
}
.opciones
{
    margin-bottom: 20px;
}
.social:hover
{
    opacity: 0.5;
}
#fondo
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
.btn-primary
{
    background-color: #7a7a7a;
    border-color: #7a7a7a;
    font-size: 20px;
    margin: 10px;
}
.btn-primary:hover
{
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}
footer
{
    /outline: 1px solid black;
    margin-top: 20px;
    /position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%
}